@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript-Regular.ttf');
}

/* Comienza body */
body{
  font-family: 'Dancing Script', cursive;
  background: black;
  vertical-align: middle;
}

#Contenedor{
  background: black;
  display: inline-block;
  display:block;
  margin: 0px auto;
}

header{
  background: #5b7989;
  color: white;
  text-shadow: #02010a 2px 2px;
  border-radius: 10px 10px 0 0;
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;
}

/* Sección principal */
#Principal{
  padding: 5%;
  background-color: #82c3a6;
  text-align: center;
}

#Principal img{
  width: 85%;
}
.menu a{
  color: white;
}

/* Sección secundaria */
#Secundario {
  background-color: #d5c75f;
  padding: 5% 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.Bloque1 img, .Bloque2 img{
  width: 70%;
  border: 2px solid;
  filter: drop-shadow(2px 2px 2px #82c3a6);
}

.Bloque1 img:hover {
  transition-property: all;
  transition-duration: 1s;
  transform: rotate(10deg);
}
.Bloque2 img:hover {
  transition-property: all;
  transition-duration: 1s;
  transform: translate3d(20px,-5px,0px);
}

/* Sección footer*/
footer{
  background-color: #C6d5c5;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
  color: black;
  border-radius: 0px 0px 10px 10px;
  text-align: left;
}

footer div p{  font-size: 20px;  margin-left: 5%;}
footer div h1{ margin-left: 5%;}

.Pie3 img{
  width: 8%;
}


@media all and (min-width:900px) {

  #Contenedor{
    max-width: 900px;
  }

  .Titulo{
    width: 70%;
    text-indent: 15px;
  }

  .menu{
    text-align: center;
    padding-top:25px;
    width: 30%;
    font-size: 18pt;
  }

  .Bloque1, .Bloque2{
    text-align: center;
    width: 50%;
    padding-bottom: 2%;
  }

  footer div{
    width: 25%;
  }
}


@media all and (max-width: 900px) {

  #Contenedor{
    width: 100%;
  }

  .Titulo{
    text-align: center;
    width: 100%;
    text-indent: 15px;
  }

  .menu{
    text-align: center;
    padding-top:25px;
    width: 100%;
    font-size: 18pt;
  }

  .Bloque1, .Bloque2{
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
  }

  footer div{
    width: 100%;
  }
}
